In [1]:
import mover

# SAVE MODEL FUNCTION

In [2]:
#SAVE
model_name= 'Tree558849'
mover.move_model(model_name)

Tree558849
saved info
saved backtestdata
moved pickle
ALL DONE!!

# RECALL MODEL FUNCTION

In [3]:
model_name = 'Tree259551'
model_name= 'Tree558849'
model,info,bt,was_long,was_scaled,up_mpl,dn_mpl = mover.load_model(model_name)

short
scaled =  True

## Info

In [4]:
info

                                                       Tree558849
index
model_id                                               Tree558849
model_name                                   downed_10!Tree558849
model_notes                                         default-tree
stamp                                  2020-10-31 11:23:24.873850
model_type                                                   Tree
features        Index(['Open', 'High', 'Low', 'Close', 'Volume...
true_positive                                  0.7083333333333334
true_negitive                                  0.6309963099630996
weighted avg                                   0.6616689599099381
f1_score                                       0.5552340939556348
dtrue_positive                                              0.125
dtrue_negitive                                 0.6715867158671587
dweighted avg                                  0.5011257739696041
df1_score                                      0.5445725967739151
true_dtrue_dif                                 0.5833333333333334
wt_dwt_avg_dif                                  0.160543185940334
path                                                  clean_data/
after_thoughts                                              loopy
sheet           clean_data/scaled_BATS VXX, 60_datasince:2016-...

## Backtesting a model

In [5]:
bt

,strat_id,init_cash,buy_prop,sell_prop,commission,execution_type,channel,symbol,buy_int,sell_int,...,rnorm,rnorm100,sharperatio,pnl,final_value,model,target,sheet,up_multiple,dn_multiple
4,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.543792,154.379178,1.004672,1842.84,2842.844950,Tree558849,downed_10!,downed_10!_split:690.csv,3,3
0,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.954001,195.400120,0.961526,2360.56,3360.562200,Tree558849,downed_10!,downed_10!_split:690.csv,2,2
1,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.954001,195.400120,0.961526,2360.56,3360.562200,Tree558849,downed_10!,downed_10!_split:690.csv,2,1
6,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.954001,195.400120,0.961526,2360.56,3360.562200,Tree558849,downed_10!,downed_10!_split:690.csv,2,1
7,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.954001,195.400120,0.961526,2360.56,3360.562200,Tree558849,downed_10!,downed_10!_split:690.csv,2,1
8,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.954001,195.400120,0.961526,2360.56,3360.562200,Tree558849,downed_10!,downed_10!_split:690.csv,2,1
3,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.403717,140.371749,0.946256,1668.25,2668.251050,Tree558849,downed_10!,downed_10!_split:690.csv,4,2
5,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.312913,131.291269,0.942549,1555.71,2555.709750,Tree558849,downed_10!,downed_10!_split:690.csv,4,1
2,0,1000,1,1,0.0075,close,NaN,NaN,1,-1,...,1.264035,126.403543,0.940342,1495.35,2495.348575,Tree558849,downed_10!,downed_10!_split:690.csv,3,2

## Scale and Direction

In [6]:
print('was long?:',was_long,'\n was scaled:',was_scaled,)

was long?: False
 was scaled: True

## Best ATR settings

In [7]:
print('best up_multiple:',up_mpl,'\nbest dn_multiple:',dn_mpl)

best up_multiple: 2
best dn_multiple: 2

## Info

In [8]:
info

                                                       Tree558849
index
model_id                                               Tree558849
model_name                                   downed_10!Tree558849
model_notes                                         default-tree
stamp                                  2020-10-31 11:23:24.873850
model_type                                                   Tree
features        Index(['Open', 'High', 'Low', 'Close', 'Volume...
true_positive                                  0.7083333333333334
true_negitive                                  0.6309963099630996
weighted avg                                   0.6616689599099381
f1_score                                       0.5552340939556348
dtrue_positive                                              0.125
dtrue_negitive                                 0.6715867158671587
dweighted avg                                  0.5011257739696041
df1_score                                      0.5445725967739151
true_dtrue_dif                                 0.5833333333333334
wt_dwt_avg_dif                                  0.160543185940334
path                                                  clean_data/
after_thoughts                                              loopy
sheet           clean_data/scaled_BATS VXX, 60_datasince:2016-...

##